header{
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
header h3{
  color: #FFFFFF;
}
.contents{
  margin: 0px 50px;
}
.contents h4{
  margin-bottom: 0px;
}
.detail{
  margin-left: 30px;
}
.graph{
  width: 700px;
}
.dtable{
  width: 300px;
  margin: 15px 80px;
}
.receipt{
  width: 800px;
  margin: 10px 80px;
}
button{
  margin-left: 120px;
}
